@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

body{
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden; 
  margin: 0%;
  padding: 0%;
  font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.spinner {
  width: 72px;
  height: 72px;
  display: grid;
  border: 5.8px solid #0000;
  border-radius: 50%;
  border-color: #333333 #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.9px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #3498db #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 11.6px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px 6rem;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 1;
}

/* Style the logo */
.logo img {
  max-width: 100px;
}

/* Style the navigation links */
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  margin: 0 20px;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 511;
  font-size: 14px;
  position: relative;
  transition: color 0.3s; /* Add transition for hover effect */
}

.nav-links a:hover {
  color: #3498db; /* Change color on hover */
}

/* Style the Buy Now button */
.buy-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the menu button for mobile */
.menu-button {
  display: none;
  font-size: 20px;
  cursor: pointer;
}

/* Media query for responsive design */
@media screen and (max-width: 768px) {
  .navbar{
    padding: 20px;
  }
  .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: #333333;
      width: 100%;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links li {
      margin: 10px 0;
  }

  .nav-links a{
    color: #fff;
  }
  .menu-button {
      display: block;
  }
}

canvas {
  display: block;
  width: 100vw !important;
  height: 100vh !important;
}

.logo h1{
  background: linear-gradient(90deg, #3498db, black);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
